<style>
  .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }

  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #666;
  }

  .rating:not(:checked) > label:before {
    content: '★';
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    color: #ffa723;
  }
</style>
  <div class="row">
    <a href="/course/{{ course['course_code'] }}" target="_blank" class="card">
      <div class="card-body">
        <form id="rating-form" action="/course/{{ course['course_code'] }}/rating" method="post">
  <div class="rating">
    <input type="radio" id="star5-{{ course['course_code'] }}" name="rate" value="5">
    <label for="star5-{{ course['course_code'] }}" title="text"></label>
    <input type="radio" id="star4-{{ course['course_code'] }}" name="rate" value="4">
    <label for="star4-{{ course['course_code'] }}" title="text"></label>
    <input type="radio" id="star3-{{ course['course_code'] }}" name="rate" value="3">
    <label for="star3-{{ course['course_code'] }}" title="text"></label>
    <input type="radio" id="star2-{{ course['course_code'] }}" name="rate" value="2">
    <label for="star2-{{ course['course_code'] }}" title="text"></label>
    <input type="radio" id="star1-{{ course['course_code'] }}" name="rate" value="1">
    <label for="star1-{{ course['course_code'] }}" title="text"></label>
  </div>
</form>
<script>
  // Get the form element
  const form = document.getElementById('rating-form');

  // Add event listener to the parent div, and handle the click events using event delegation
  form.addEventListener('click', (event) => {
    const clickedElement = event.target;
    if (clickedElement.matches('input[type="radio"]')) {
      // Add 'rated' class to the parent div when a rating is selected
      clickedElement.closest('.rating').classList.add('rated');

      // Submit the form
      form.submit();
    }
  });
</script>
      <h5>{{ course['course_name'] }}</h5>
      <p class="course-details">Course code: {{ course['course_code'] }}</p>
      <p class="course-details">Language: {{ course['language'] }}</p>
    </div>
  </a>
</div>
<br>