<style>
  .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }

  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 21px;
    color: #666;
  }

  .rating:not(:checked) > label:before {
    content: '★';
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    color: #ffa723;
  }

  .rating-message {
    font-size: smaller;
    float: right;
  }
  
  .close-button {
    margin-top: 6px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    float: right;
    font-size: 12px;
  }
</style>
<div class="row">
  <a href="/course/{{ course['course_code'] }}" target="_blank" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <h5>{{ course['course_name'] }}</h5>
          <p class="course-details">Course code: {{ course['course_code'] }}</p>
          <p class="course-details">Language: {{ course['language'] }}</p>
        </div>
        <div class="col-6">
          <div class="row align-items-center justify-content-end"> <!-- Modified line -->
            <form id="rating-form" action="/course/{{ course['course_code'] }}/rating" method="post">
              <div class="rating">
                {% for star in range(5, 0, -1) %}
                <input
                  type="radio"
                  id="star{{ star }}-{{ course['course_code'] }}"
                  name="rate"
                  value="{{ star }}"
                  onchange="this.form.submit()"
                  {% if rating_db[course['course_code']] == star %}checked{% endif %}
                >
                <label for="star{{ star }}-{{ course['course_code'] }}" title="Give a rating to this course"></label>
                {% endfor %}
              </div>
            </form>
            {% if rating_db[course['course_code']] %}
              <form id="remove-rating" action="/course/{{ course['course_code'] }}/remove_rating" method="post">
                <div class="row">
                  <div class="rating-details">
                    <input type="hidden" name="rate" value="0">
                    <button class="close-button" onchange="this.form.submit()">Remove rating</button>
                  </div>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<br>
