<!DOCTYPE html>
<html>
<head>
  <title>Tilburg University Course Catalogue</title>
  {% include 'bootstrap.html' %}
  <style>
    body {
      margin: 50px;
    }
    
    .card-with-margin {
      margin-right: 20px;
    }
    
    a {
      text-decoration: none;
    }

    .course-details {
      margin-bottom: 0.3em;
    }

    .custom-button {
      background-color: #006094;
      color: white;
    }
    
    .button-row {
        display: flex;
        justify-content: center;
    }
  </style>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container">
    {% include 'banner.html' %}
    <!-- Filter part -->
    <div class="row">
      <div class="col-2">
        <aside>
          <h5>Filters</h5>
          <br>
          {% for key in filters.keys() %}
            {% include 'filter.html' %}
          {% endfor %}
        </aside>
      </div>
      
      <!-- Courses part -->
      <div class="col-10">
        <main>
          <h2>Courses</h2>
          <div>
            {% for course in courselist %}
              {% include 'courseitem.html' %}
            {% endfor %}
          </div>
          <div>
            <div class="row">
              <div class="button-row">
                {% include 'prev_button.html' %}
                {% include 'pagination.html' %}
                {% include 'next_button.html' %}
              </div>
            </div>
          </div>
          <!-- Recommended part -->
          {% include 'rec_home.html' %}
        </main>
      </div>
    </div>
  </div>
  
  {% include 'footer.html' %}
</body>
</html>

